extends includes/layout 

block content 
    h1 Driver profile
    p Navn: #{driver.firstName} #{driver.lastName}

    // idéer til andet info:
    //p Email: #{driver.email}
    //p Telefon: #{driver.phone} 
    //p By: #{driver.city}
    //p Postnummer: #{driver.zip} 
    //p Adresse: #{driver.address} 
    //p Kørekort: #{driver.driversLicense} 
    