extends includes/layoutCustomer

block content 
  html(lang='en')
    head
      meta(charset='utf-8')
    
    body
      h1= 'Startdato: ' + startDate

      // TODO: should be startDate + chosen journey length
      //h2= 'Slutdato: ' + endDate

    form(action='/customers/Calendar/Book', method='post')
      div
        label(for='journey') Vælg tur:
        select(name='journeyId', id='journeyId', onchange='updateAddons(this.value)')
          //for each jouney in database
          each journey in journeys
            option(value=(journey.docID)) #{journey.name}

        div
          //Price of chosen journey * participants TODO
          label(for='price') Pris:
          input(type='text', name='price', id='price', readonly='readonly')
        div 
          label(for='date') Valgt dato:
          input(type='date', name='date', id='date', readonly='readonly' value=startDate)

        div
          label(for='participants') Antal personer (1-10):
          input(type='number', name='participants', id='participants', min='1', max='10', value='1')

        div
          input(type='submit', value='Bekræft booking')

    script.
      async function updateAddons(journeyId) {

        const response = await fetch(`/customers/api/journeys/${journeyId}`, {
          method: 'GET'
        });
        if (response.status === 200) {
          const journeyData = await response.json();
          console.log(journeyData);
        } else {
          alert("Der skete en fejl ved hentningen af den valgte tur");
        }
        /*
         await lav et FETCH kald til .../api/getAddOns/:id
        check for fejl
        inject modtaget data ind i DOM
        */

        /*
        const addons = journey.addons

        // Clear existing radio buttons
        var radioDiv = document.getElementById('addons');
        radioDiv.innerHTML = '';

        // Display radio buttons for each addon in the selected journey
        addons.forEach(addon => {
          var radioDiv = document.getElementById('addons');
          var radioInput = document.createElement('input');
          radioInput.type = 'radio';
          radioInput.name = 'selectedAddons';
          radioInput.value = addon.title + '-' + addon.price;

          var label = document.createElement('label');
          label.htmlFor = `addon-${addon.title}`;
          label.textContent = `${addon.title} - ${addon.price} DKK`;

          radioDiv.appendChild(radioInput);
          radioDiv.appendChild(label);
          radioDiv.appendChild(document.createElement('br'));
        });
        */

        
      }
    script.