extends includes/layoutCustomer

block content
  - let totalBookings = 0

  h3 Dine Bookings
  ul
    each booking in bookings
      if booking.customer.id === currentCustomerId
        li 
          - const options = { day: '2-digit', month: '2-digit', year: '2-digit' };
          - const startDateFormat = new Date(booking.startDate.seconds * 1000).toLocaleString(da-DK, options)
          - const endDateFormat = new Date(booking.endDate.seconds * 1000).toLocaleString(da-DK, options)
          
          p Start Dato: #{startDateFormat}
          p Slut Dato: #{endDateFormat} 
          p Number of persons: #{booking.nrOfPersons}
          p Price: #{booking.price}
          - totalBookings += 1

  h3 Total antal ture: #{totalBookings}
