extends includes/layoutCustomer

block content
  - let totalBookings = 0

  h3 Dine Bookings
  ul
    each booking in bookings
      if booking.customer.id === currentCustomerId
        li 
        
          p Start Dato: #{booking.startDate}
          p Slut Dato: #{booking.endDate} 
          p Number of persons: #{booking.nrOfPersons}
          p Price: #{booking.bookingPrice}
          - totalBookings += 1

  h3 Total antal ture: #{totalBookings}