extend includes/layout

block content
    h1 Kunde oversigt
    table
        tr
            th #
            th Navn
            th Efternavn
            th By
            th Fødselsdag
            th Brugernavn 
            th Kodeord

        each customer, index in customers
            tr
                td #{index + 1}
                td #{customer.firstName}
                td #{customer.lastName}
                td #{customer.city}
                td #{customer.birthday}
                td #{customer.customerUsername}
                td #{customer.customerPassword}
    tr
        td(colspan="4") Totalt antal kunder: #{customers.length}


