extends includes/layout 

block content 
    h1 Driver profile
    ul 
        for each driver in drivers
            li #{driver.firstName}
    

    // idéer til andet info:
    //p Email: #{driver.email}
    //p Telefon: #{driver.phone} 
    //p By: #{driver.city}
    //p Postnummer: #{driver.zip} 
    //p Adresse: #{driver.address} 
    //p Kørekort: #{driver.driversLicense} 
    